@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="div1">
    <h2>Welcome to Azure New Labs.</h2>
    <p>This is a paragraph</p>
</div>

<div class="div2">
    <h2>Code deployment from Visual Studio.</h2>
    <p>This is another paragraph</p>
</div>

<style>
    .div1 {
        color: white;
    }

    .div2 {
        color: white;
    }
body {
    background-color: black;
    }
</style>